body{
    background-color: rgb(165, 148, 228);
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: center;
    background-color: #9595c6;
    padding: 10px;
    gap: 10px;
}
nav a{
    justify-content: center;
    color:rgb(158, 39, 49);
    text-decoration: none;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
    font-style: italic;
}
nav a:hover{
    color: blue;
}
nav a:active{
    color: black;
}
.gallery{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.gallery img{
    width:200px;
    height:auto;
    justify-content: center;
}
h1{
    text-align: center;
    text-shadow: 2px 2px 5px rgb(14, 27, 213);
    box-shadow: 4px 4px 5px rgb(20, 2, 2);
    margin-top: 35px;
    margin-bottom: 35px;
    opacity:0;
    animation: fadeup 1.5s ease forwards;
    animation-delay: 0.5s;
}
@keyframes fadeup{
    to{
        opacity:3;
        transform: translate(0);
    }
}
h2{
     text-shadow: 2px 2px 5px rgb(166, 41, 41);
    box-shadow: 4px 4px 5px rgb(180, 78, 83);
    margin-top: 20px;
    margin-bottom: 35px;
}
h3{
     text-shadow: 2px 2px 5px rgb(175, 17, 138);
    box-shadow: 4px 4px 5px rgb(29, 7, 7);
    margin-top: 20px;
    margin-bottom: 35px;
}
button{
    border-radius: 5px;
    border-width: 3px;
    border-color: blue;
    border-style: groove;
    color: rgb(18, 18, 18);
    background-color: rgb(169, 100, 235);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px;
    margin-left: 50px;
}
button:hover{
    background-color: rgb(64, 8, 246);
}
input{
    font-size: medium;
    border-width: 2px;
    border-color: rgb(59, 59, 73);
    border-radius: 5px;
    background-color: rgb(253, 253, 254);
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 50px;
    padding: 7px;
}
textarea{
    border-color: black;
    border-radius: 5px;
}
.form-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap:10px;
    max-width: 400px;
}